openapi: 3.2.0
info:
  title: Housecall Pro Public Webhooks API
  version: '1.0'
  description: 'The Housecall Pro Public API exposes core resources of the Housecall Pro home services

    business management platform — customers, leads, jobs, estimates, invoices, payments,

    employees, schedule items, line items, and webhooks. The API is available to Pros on

    the MAX plan and is documented on Stoplight at https://docs.housecallpro.com/.

    '
  contact:
    name: Housecall Pro
    url: https://www.housecallpro.com
  license:
    name: Proprietary
servers:
- url: https://api.housecallpro.com
  description: Production
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Webhooks
paths:
  /webhooks:
    get:
      tags:
      - Webhooks
      summary: List Webhook Subscriptions
      operationId: listWebhooks
      responses:
        '200':
          description: Webhook collection.
    post:
      tags:
      - Webhooks
      summary: Create Webhook Subscription
      operationId: createWebhook
      responses:
        '201':
          description: Webhook subscription created.
  /webhooks/{webhook_id}:
    delete:
      tags:
      - Webhooks
      summary: Delete Webhook Subscription
      operationId: deleteWebhook
      parameters:
      - name: webhook_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Webhook deleted.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Bearer token using the API key generated from the MAX-plan App Store API card.
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key passed as `Authorization: Token {key}`.'
