openapi: 3.2.0
info:
  title: Housecall Pro Public Invoices API
  version: '1.0'
  description: 'The Housecall Pro Public API exposes core resources of the Housecall Pro home services

    business management platform — customers, leads, jobs, estimates, invoices, payments,

    employees, schedule items, line items, and webhooks. The API is available to Pros on

    the MAX plan and is documented on Stoplight at https://docs.housecallpro.com/.

    '
  contact:
    name: Housecall Pro
    url: https://www.housecallpro.com
  license:
    name: Proprietary
servers:
- url: https://api.housecallpro.com
  description: Production
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Invoices
paths:
  /invoices:
    get:
      tags:
      - Invoices
      summary: List Invoices
      operationId: listInvoices
      responses:
        '200':
          description: Invoice collection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
    post:
      tags:
      - Invoices
      summary: Create Invoice
      operationId: createInvoice
      responses:
        '201':
          description: Invoice created.
  /invoices/{invoice_id}:
    get:
      tags:
      - Invoices
      summary: Get Invoice
      operationId: getInvoice
      parameters:
      - name: invoice_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Single invoice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
components:
  schemas:
    Invoice:
      type: object
      properties:
        id:
          type: string
        invoice_number:
          type: string
        status:
          type: string
          enum:
          - draft
          - sent
          - paid
          - voided
          - canceled
        amount:
          type: integer
        outstanding_balance:
          type: integer
        customer_id:
          type: string
        job_id:
          type: string
        due_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Bearer token using the API key generated from the MAX-plan App Store API card.
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key passed as `Authorization: Token {key}`.'
