openapi: 3.2.0
info:
  title: Housecall Pro Public Employees API
  version: '1.0'
  description: 'The Housecall Pro Public API exposes core resources of the Housecall Pro home services

    business management platform — customers, leads, jobs, estimates, invoices, payments,

    employees, schedule items, line items, and webhooks. The API is available to Pros on

    the MAX plan and is documented on Stoplight at https://docs.housecallpro.com/.

    '
  contact:
    name: Housecall Pro
    url: https://www.housecallpro.com
  license:
    name: Proprietary
servers:
- url: https://api.housecallpro.com
  description: Production
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Employees
paths:
  /employees:
    get:
      tags:
      - Employees
      summary: List Employees
      operationId: listEmployees
      responses:
        '200':
          description: Employee collection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  employees:
                    type: array
                    items:
                      $ref: '#/components/schemas/Employee'
  /employees/{employee_id}:
    get:
      tags:
      - Employees
      summary: Get Employee
      operationId: getEmployee
      parameters:
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Single employee.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
components:
  schemas:
    Employee:
      type: object
      properties:
        id:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        mobile_number:
          type: string
        role:
          type: string
          enum:
          - admin
          - office_staff
          - field_tech
        color_hex:
          type: string
        avatar_url:
          type: string
        permissions:
          type: object
          additionalProperties:
            type: boolean
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Bearer token using the API key generated from the MAX-plan App Store API card.
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key passed as `Authorization: Token {key}`.'
